<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
         http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
         version="2.4">

  <display-name>Archetype Created Web Application</display-name>

  <welcome-file-list>
    <welcome-file>index.do</welcome-file>
  </welcome-file-list>

  <listener>
    <listener-class>carsale.listener.AppContextListener</listener-class>
  </listener>

  <filter>
    <filter-name>AuthFilter</filter-name>
    <filter-class>carsale.filter.AuthFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AuthFilter</filter-name>
    <url-pattern>*.do</url-pattern>
  </filter-mapping>

  <servlet>
    <servlet-name>IndexServlet</servlet-name>
    <servlet-class>carsale.servlet.IndexServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexServlet</servlet-name>
    <url-pattern>/index.do</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ItemListServlet</servlet-name>
    <servlet-class>carsale.servlet.ItemListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ItemListServlet</servlet-name>
    <url-pattern>/itemlist.do</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>BrandListServlet</servlet-name>
    <servlet-class>carsale.servlet.BrandListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BrandListServlet</servlet-name>
    <url-pattern>/brandlist.do</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>EditServlet</servlet-name>
    <servlet-class>carsale.servlet.EditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditServlet</servlet-name>
    <url-pattern>/edit.do</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>AuthServlet</servlet-name>
    <servlet-class>carsale.servlet.AuthServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthServlet</servlet-name>
    <url-pattern>/auth.do</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>RegServlet</servlet-name>
    <servlet-class>carsale.servlet.RegServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegServlet</servlet-name>
    <url-pattern>/reg.do</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>PhotoServlet</servlet-name>
    <servlet-class>carsale.servlet.PhotoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PhotoServlet</servlet-name>
    <url-pattern>/photo.do</url-pattern>
  </servlet-mapping>

</web-app>
